.wrapper {
	display: flex;
	gap: 20px;
}

.wrapper > div {
	min-width: 350px;
	min-height: 100px;
	padding: 20px;
	border: 1px solid black;
}

.orders__container {
	min-width: 400px;
	max-width: 500px;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid #000;
}

ul {
	list-style: none;
}

li {
	display: block;
	width: fit-content;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
}
