.emoji__img {
	width: 80px;
	height: 80px;
}

.emoji__info button {
	background-color: fuchsia;
	border: none;
	color: #fff;
	width: 100px;
	height: 30px;
	border-radius: 10px;
    cursor: pointer;
}
