.myImg {
	width: 100%;
	max-width: 500px;
    border-radius: 50px;
}

.nameTitle {
    font-size: 34px;
    font-family: inherit;
    color: brown;
}

.ageTitle {
    font-size: 24px;
    font-weight: 600;
}

.ageTitle span {
    color: red;
}