.container {
	position: relative;
	width: 800px;
	margin: 20px auto;
}

.slider {
	transition: transform 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
}

.slider__item {
	display: none;
	width: 100%;
}

.active {
	display: block !important;
}

.slider__item img {
	min-width: 100%;
	width: 100%;
	object-fit: cover;
	height: auto;
	display: block;
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.slider__prev {
	left: -50px;
}

.slider__next {
	right: -50px;
}

.dots {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.dots a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	background: #ccc;
	cursor: pointer;
}

.dots a.active {
	background: #131313;
}
